# Discord
DISCORD_TOKEN=your_discord_bot_token_here
APPLICATION_ID=your_application_id_here

# Lavalink
LAVALINK_HOST=127.0.0.1
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass

# Optional Spotify API (for better Spotify link metadata resolution)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Optional Genius for lyrics
GENIUS_TOKEN=
