DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_CLIENT_ID=your_application_client_id_here
DISCORD_GUILD_ID=optional_single_guild_id_for_dev

TOPGG_TOKEN=your_topgg_api_token_here
TOPGG_WEBHOOK_AUTH=some_long_random_secret
TOPGG_WEBHOOK_PORT=3000

OWNER_ID=800553680704110624
DEFAULT_PREFIX=-

