# ── REQUIRED ──────────────────────────────────────────────────────────────────
DISCORD_TOKEN=MTQ2MjA0MDIyMzg3MjU4MTc5Nw.GWFcIs.3-G1s9rpfDQHtlml9CqeKaJ_qvhRrjpL43N2wM

# ── LAVALINK (handles all audio - free host options in README) ─────────────────
LAVALINK_HOST=lavalink.devamop.in
LAVALINK_PORT=443
LAVALINK_PASSWORD=DevamOP

# ── SPOTIFY (developer.spotify.com/dashboard) ──────────────────────────────────
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

# ── TOP.GG (top.gg/api/docs) ───────────────────────────────────────────────────
TOPGG_TOKEN=your_topgg_token
TOPGG_BOT_ID=your_bot_id_on_topgg

# ── BOT OWNER ─────────────────────────────────────────────────────────────────
OWNER_ID=800553680704110624
